# Dependências
node_modules/

# Build
dist/
build/
release/
out/

# Electron
*.asar

# Logs
logs/
*.log

# Banco local
*.db
*.sqlite

# Ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Cache
.cache/
.turbo/

# Cobertura
coverage/

# Arquivos temporários
tmp/
temp/

# Certificados
*.pem
*.key

*.zip